| Search: <input ng-model="query">
| Sort by:
select(ng-model="orderProp")
  option(value="name") Alphabetical
  option(value="age") Newest
  option(value="-age") Oldest
    
ul(class="phones")
  li(ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail")
    a(href="/phones/{{phone.id}}" class="thumb")
      img(ng-src="{{phone.imageUrl}}")
    a(href="/phones/{{phone.id}}")
      {{phone.name}}
  
pre {{phones | filter:query | orderBy:orderProp | json}}