extends layout

block content
  | Search: <input ng-model="query">
  | Sort by:
  select(ng-model="orderProp")
    option(value="name") Alphabetical
    option(value="age") Newest
    option(value="-age") Oldest
    
  ul(class="phones")
    li(ng-repeat="phone in phones | filter:query | orderBy:orderProp")
      span {{phone.name}}
      p {{phone.snippet}}