doctype html
html(ng-app="phonecatApp")
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./components/bootstrap/dist/css/bootstrap.min.css')
    script(src='./compiled/thirdparty.js')
    script(src='./compiled/app.js')
  body(ng-controller="PhoneListCtrl")
    block content
